--extra-index-url https://download.pytorch.org/whl/cu121
torch>=2.0.0,<=2.4.1+cu121
transformers>=4.40.0
peft>=0.10.0
accelerate>=0.30.0
sentencepiece
protobuf
tiktoken
pandas
numpy
scikit-learn
clearml>=2.0.0
clearml-labkit>=0.1.0
tqdm
